
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

th > a,
th > a:hover,
th > a:active
{
    color: $text-color;
    text-decoration: none;
}

.form-inline {
    display: inline-block;
}

.hover-panel > h3,
.hover-panel > h3:hover,
.hover-panel > h3:active,
.hover-panel > span,
.hover-panel > span:hover,
.hover-panel > span:active,
{
    text-decoration: none;
}
